{% extends "transactions/base.html" %}

{% block title %}Page Title{% endblock %}

{% block content %}



    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Add Shipment</h1>
        <a href="/" class="btn btn-secondary">Dashboard</a>
    </div>

    <div class="card">
        <div class="card-body">

            <form method="post">
                {% csrf_token %}

                <div class="row g-3">

                    <div class="col-md-4">
                        <label class="form-label">Date</label>
                        {{ form.shipment_date }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Commodity</label>
                        {{ form.commodity_type }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Seller</label>
                        {{ form.seller }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Buyer</label>
                        {{ form.buyer }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Quantity</label>
                        {{ form.quantity }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Rate</label>
                        {{ form.rate }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Number of Bags</label>
                        {{ form.number_of_bags }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Vehicle Number</label>
                        {{ form.vehicle_number }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Commission</label>
                        {{ form.commission }}
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Remarks</label>
                        {{ form.remarks }}
                    </div>

                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Save Shipment</button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}